click
pywidevine
pyplayready
google
requests
unidecode
pyyaml



untangle
yt-dlp
dnspython
google-api-python-client
google-auth-oauthlib
oauth2client==3.0.0
lxml
pycaption
psutil
motor
python-dotenv
python-magic
requests
tenacity
pyrogram
hachoir
pytz
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-magic
telegraph
tenacity
pyrogram
tgcrypto
beautifulsoup4
colorama
construct
cryptography
cssutils
ffmpy
future
HTMLParser
httpx
inquirer
isodate
natsort
nltk
pproxy
prettytable
protobuf
pycountry
pycryptodome
pycryptodomex
PyJWT
pymediainfo
pysrt
Requests
six
svtplay_dl
termcolor
titlecase
tldextract
toml
tqdm
Unidecode
urllib3
wcwidth
xmltodict
yarl
hpack
hyper
hyperframe
h2
expiringdict
